.input-search {
  width: 100%;
  display: flex;
  gap: 0 10px;
  align-items: center;
}

.input-search__input {
  box-sizing: border-box;
  flex: 1;
  padding: 16px 20px 16px 20px;
  margin: 0;
  border-radius: 8px;
  background: #2F2F2F;
  border: none;
  outline: none;
  color: #8B8B8B;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.input-search__input:focus {
  border: 1px solid #424141;
}

.input-search__input::placeholder {
  color: #8B8B8B;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.input-search__button {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  border: none;
  background-image: url(../../images/input-search/button-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.input-search__button:hover {
  opacity: .7;
}


@media screen and (max-width: 500px) {
  .input-search__input {
    padding: 13px;
  }
}
