.burger-menu {
    background-image: url(../../images/header/burger-menu-icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.burger-menu:hover {
    opacity: .7;
}

@media screen and (max-width: 500px) {
    .burger-menu {
        width: 43px;
        height: 40px;
    }
}
