.button-sign {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 3px;
  background: #4285F4;
  cursor: pointer;
  height: 45px;
  color: #FFF;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button-sign_disable {
  background: #F8F8F8;
  color: #C2C2C2;
}

.button-sign:hover {
  opacity: .8;
}
