.body {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.profile {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__wrap {
  box-sizing: border-box;
  width: 100%;
  max-width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 0 0 123px 0;
  color: #FFF;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__info {
  margin: 0 0 220px 0;
  padding: 0;
  list-style-type: none;
  max-width: 410px;
  width: 100%;
}

.profile__item {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__item:nth-child(1) {
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile__item:nth-child(2) {
  padding-top: 16px;
}

.profile__form {
  width: 100%;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  padding: 0;
}

.profile__button {
  background: transparent;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.profile__button:hover {
  opacity: .7;
}

.profile__button:nth-child(2) {
  color: #EE3465;
  font-weight: 500;
}

.profile__button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  gap: 15px 0;
}

.profile__error {
  color: #FF004C;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 13px;
}

@media screen and (max-width: 768px) {
  .main {
    justify-content: flex-start;
  }

  .profile__wrap {
    padding-top: 236px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__info {
    margin: 0 0 210px 0;
  }

  .profile__form {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    padding: 70px 30px 40px 30px;
    flex: 1;
    justify-content: space-between;
  }

  .profile__wrap {
    padding-top: 0;
  }

  .profile__title {
    margin-bottom: 80px;
  }
  .profile__buttons {
    gap: 13px 0;
  }


  .profile__button {
    font-size: 12px;
  }

}
