.header {
    box-sizing: border-box;
    display: flex;
    max-width: 1280px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    background-color: #202020;
    padding: 0 70px;
    margin: 0 auto;
    gap: 0 62px;
}

@media screen and (max-width: 768px){
    .header {
        padding: 0 30px;
    }
}
@media screen and (max-width: 500px){
    .header {
        padding: 0 14px;
    }
}
