.navigation {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.navigation__nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 0 16px;
    flex: 1;
    justify-content: center;
}

.navigation__buttons {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 0 30px;
}

.navigation__item {
    display: flex;
}

.navigation__button {
    padding: 0;
    background: transparent;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.navigation__button_login {
    box-sizing: border-box;
    padding: 8px 20px;
    border-radius: 3px;
    background: #3DDC84;
    color: #000;
}

.navigation__item_size_sm {
    display: none;
}

@media screen and (max-width: 768px) {
    .navigation__nav {
        justify-content: flex-end;
    }

    .navigation__item_size-lg {
        display: none;
    }

    .navigation__item_size_sm {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .navigation__button {
        font-size: 10px;
        line-height: 16px;
    }
}
