.nav-tab {
    display: flex;
    justify-content: center;
    gap: 0 10px;
}

.nav-tab__link {
    box-sizing: border-box;
    width: 96px;
    height: 36px;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    background-color: #303030;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tab__link:hover {
    opacity: .7;
}

@media screen and (max-width: 500px) {
    .nav-tab {
        gap: 0 6px;
    }

    .nav-tab__link {
        width: 82px;
        height: 26px;
        font-size: 10px;
        line-height: 16px;
    }
}
